{{!-- video 50 --}}
{{!-- <html>
    <head>
        <title>About</title>
    </head>
    <body>
        {{>header}} <!-- 1. -->
        <p>{{errormessage}}</p> <!-- 2. -->
        {{>footer}} <!-- 1. -->
    </body>
</html> --}}

{{!-- video 52 --}}
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/images.jpg">
        <link rel="stylesheet" href="/css/51.styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}} 
            <p>{{errormessage}}</p> 
        </div>
       
        {{>footer}} 
    </body>
</html>