<!-- <html>
    <head>
        <link rel="stylesheet" href="/css/46.styles.css">
        <script src="/js/46.js"></script>
    </head>
    <body>
        // <h1>hello</h1> // it is and comment line 
        <h1>{{title}}</h1>
        <p>created by {{name}}</p>
    </body>
</html> -->
<!--only index.hub it will take -->

{{!-- video 49 --}}
{{!-- <html>
    <head>
        <link rel="stylesheet" href="/css/46.styles.css">
        <script src="/js/46.js"></script>
    </head>
    <body>
        {{>header}}
        <p>created by {{name}}</p>
        {{>footer}}
    </body>
</html> --}}
<!--only index.hub it will take-->

{{!-- video 51 and 52 --}}
{{!-- <html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/images.jpg">
        <link rel="stylesheet" href="/css/51.styles.css">
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>use this site to get your weather</p>
        </div>
        
        {{>footer}}
    </body>
</html> --}}

{{!-- video 58 creating a search form  --}}
{{!-- <html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/images.jpg">
        <link rel="stylesheet" href="/css/51.styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>use this site to get your weather</p>

            <form>
                <input placeholder="location">
                <button>Search</button>
            </form>
        </div>
        
        {{>footer}}
        
        <script src="/js/app.js"></script> <!-- we puted script tag at last because first html and css file have to execute -->
    </body>
</html> --}}


{{!-- video 59 wiring up the user interface  --}}
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/images.jpg">
        <link rel="stylesheet" href="/css/51.styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>use this site to get your weather</p>

            <form>
                <input placeholder="location">
                <button>Search</button>
            </form>

            <p id="message-1"></p>
            <p id="message-2"></p>

        </div>
        
        {{>footer}}
        
        <script src="/js/app.js"></script> <!-- we puted script tag at last because first html and css file have to execute -->
    </body>
</html>

<!--only index.hub it will take-->

